go 1.25.5

use (
	.
	./cluster
	./codec
	./cqrs
	./db
	./db/clickhouse
	./db/mongo
	./db/postgres
	./db/redis
	./lol
	./num
	./rp
	./rxconfig
	./testit
	./testit/clickhouse
	./testit/minio
	./testit/postgres
	./testit/redis
	./testit/redpanda
)
